@font-face {
    font-family: 'Icons';
    src: url('../font/icons.eot');
    src: url('../font/icons.eot#iefix') format('embedded-opentype'),
    url('../font/icons.woff2') format('woff2'),
    url('../font/icons.woff') format('woff'),
    url('../font/icons.ttf') format('truetype'),
    url('../font/icons.svg#icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "Icons";
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-backward:before {
    content: '\e800';
}

.icon-download:before {
    content: '\e801';
}

.icon-forward:before {
    content: '\e802';
}

.icon-pause:before {
    content: '\e803';
}

.icon-play:before {
    content: '\e804';
}
